.main-container
{
    position: absolute;
    width : 85%;
    height : 95%;
    margin-left : 7.5% ;
    margin-right : 7.5% ;
    margin-top : 1% ;
    margin-bottom : 2.5% ;
    padding : 10px;
    border : 3px solid black;
    border-radius: 5px;;
}