.task-item-form .form-control
{
    margin-top : 0.5em;
    margin-bottom: 0.5em;
}

.task-item-form{
    margin : 5%;
    padding : 2.5%;
    border : 6px solid rgb(105, 85, 197);
    border-radius: 7px;
}

.remove-button{
    border-radius: 50%;
}